node_modules/
.next/
out/
build/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# key files
*.pem
*.key

# OS files
.DS_Store

# Models and large binaries
merged-chatbot-gemma2/
__pycache__/
*.pyc
jenkins-cli.jar

# Python virtual environments
.venv/

# Test caches
**/.pytest_cache/
