fastapi
uvicorn
pydantic
faiss-cpu
rank-bm25
transformers==4.44.2
tokenizers==0.19.1
accelerate
sentence-transformers==2.7.0
torch
beautifulsoup4
langchain==0.3.28
langchain-community==0.3.31
langchain-core==0.3.84
langchain-huggingface==0.1.0
langchain-text-splitters==0.3.11
redis==7.0.1
huggingface_hub>=0.23.0
